<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyTop10</title>
	
	<link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body>
    <h1>MyTop10</h1>
    <div id="board">
        <div class="row">
            <div class="label">1</div>
            <div class="card" id="first" draggable="true">hihi</div>
        </div>
        <div class="row">
            <div class="label">2</div>
        </div>
        <div class="row">
            <div class="label">3</div>
        </div>
        <div class="row">
            <div class="label">4</div>
        </div>
        <div class="row">
            <div class="label">5</div>
        </div>
    </div>
  </body>
  <script th:src="@{/js/cards.js}"></script>
  <script th:src="@{/js/rows.js}"></script>
</html>
