<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MyTop10</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1>MyTop10</h1>

	<div class="container">
		<div class="board">
			<div th:each="entry : ${mapa}" class="row">
				<div class="label" th:text="${entry.key}"></div>
				<div th:if="${entry.value != null}" class="card" id="second"
					draggable="true">
					<img class="card-img" src="https://marketplace.canva.com/EAFctkUT4qU/1/0/1600w/canva-colorful-cool-lonely-man-watching-the-sunset-photo-album-cover-2aE_LYxWtEI.jpg" alt="Teste">
					<div class="card-title">Teste</div>
				</div>
			</div>
		</div>
		<div class="musicas">
			<div class="buscar-musica">
				<label for="musica">Buscar música</label>
				<div class="input-group">
					<input type="text" id="musica" value="musica">
					<button class="button" onclick="adicionarMusica()"></button>
				</div>
			</div>
			<div class="card" id="second" draggable="true">
				<img class="card-img"
					src="https://marketplace.canva.com/EAFctkUT4qU/1/0/1600w/canva-colorful-cool-lonely-man-watching-the-sunset-photo-album-cover-2aE_LYxWtEI.jpg"
					alt="teste">
				<div class="card-title">Teste</div>

			</div>
		</div>
	</div>

	<button class="btn-salvar" onclick="salvarTop10()">Salvar</button>


</body>
<script th:src="@{/js/cards.js}"></script>
<script th:src="@{/js/rows.js}"></script>
<script th:src="@{/js/musicas.js}"></script>
<script th:src="@{/js/top10.js}"></script>
</html>
