<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Tops 10</title>

	<link rel="stylesheet" th:href="@{/css/common.css}">

</head>

<body>
	<h1>Tops 10</h1>

	<table>
		<tr>
			<th>Código</th>
			<th>Título</th>
			<th>Descrição</th>
			<th colspan="1"></th>
		</tr>

		<tr th:each="top10: ${tops10}">
			<td th:text="${top10.id}">1</td>
			<td th:text="${top10.titulo}">Novo top10</td>
			<td th:text="${top10.descricao}">Top 10 teste</td>
			<td>
				<span class="operacao">
					<a th:href="@{|/top10/${top10.id}|}">Editar</a>
				</span>
			</td>
		</tr>
	</table>

</body>

</html>